# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

In [2]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [4]:
# Read the WeatherPy_vacation.csv into a DataFrame
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")

# Display sample data
# YOUR CODE HERE
vacation_df.head(10)

,City_ID,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
0,0,Kizukuri,JP,overcast clouds,57.52,40.8061,140.3861,Goshogawara
1,6,Port Alfred,ZA,broken clouds,60.19,-33.5906,26.8910,Port Alfred
2,10,Sitka,US,light rain,55.29,57.0531,-135.3300,Sitka
3,11,Mataura,NZ,broken clouds,46.47,-46.1927,168.8643,Gore
4,15,Albany,US,clear sky,50.54,42.6001,-73.9662,Voorheesville
5,17,Bluff,NZ,overcast clouds,46.80,-46.6000,168.3333,Bluff
6,19,Katsuura,JP,overcast clouds,55.42,35.1333,140.3000,Katsuura
7,21,Zavetnoye,RU,clear sky,50.31,47.1194,43.8903,Zavetnoe
8,24,Rikitea,PF,broken clouds,69.58,-23.1203,-134.9692,Rikitea
9,26,New Norfolk,AU,overcast clouds,55.92,-42.7826,147.0587,New Norfolk

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [5]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [13]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df["City"]=="Sitka",:]
vacation_end = vacation_df.loc[vacation_df["City"]=="Albany",:]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Mataura",:]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Bluff",:] 
# vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Olinda",:]

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [14]:
start = vacation_start[["Lat", "Lng"]].to_numpy()
start1 = (start[0][0],start[0][1])
end = vacation_end[["Lat", "Lng"]].to_numpy()
end1 = (end[0][0],end[0][1])
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()
stop1u = (stop1[0][0],stop1[0][1])
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()
stop2u = (stop2[0][0],stop2[0][1])
print(start1)
print(end1)
print(stop1u)
print(stop2u)

(57.0531, -135.33)
(42.6001, -73.9662)
(-46.1927, 168.8643)
(-46.6, 168.3333)

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [15]:
waypoints = [stop1u, stop2u]

fig = gmaps.figure()
Vacation_itinerary = gmaps.directions_layer(start1, end1, waypoints=waypoints,travel_mode='DRIVING', show_markers=True)
fig.add_layer(Vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [17]:
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2],ignore_index=True)
itinerary_df

,City_ID,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
0,10,Sitka,US,light rain,55.29,57.0531,-135.3300,Sitka
1,15,Albany,US,clear sky,50.54,42.6001,-73.9662,Voorheesville
2,11,Mataura,NZ,broken clouds,46.47,-46.1927,168.8643,Gore
3,17,Bluff,NZ,overcast clouds,46.80,-46.6000,168.3333,Bluff

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [18]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [19]:
# Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))